.tbl-1 {
    margin: 50px 0px 0px 30px;
    font-family: arial, sans-serif;
    width: 50%;
    border: 1px solid black;  
}

  
  td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
    width: 140px;
  }
  
tr:nth-child(even) {
    background-color: #dddddd;
  }

  .flex-container {
    display: flex;
  }


.float-child {
    float: left;
    width: 500px;
    margin-right: 20px; 
}  

h1 {
  margin-left: 30px;
}

button {

  background: black;
  color: white;
  width: 80px;
  border-radius: 5px;
}
.button1:hover {
  background-color: #1619ec !important; /* Green */
  color: white !important;
}

.divbk {
  margin-top: 20px;
  margin-left: 30px;
}