.table {
    margin-top: 25px;
    margin-left: 50px;
    font-family: arial, sans-serif;
    width: 25%;
    border: 1px solid black;

}

  
  td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
    width: 140px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .flex-container {
    display: flex;
}


.float-child {
    float: left;
    width: 500px;
    margin-right: 20px;

  
}  