hr{
    height: 1px;
background-color: rgb(3, 40, 121);
border: none;
}














/*.active{
    color: white !important;
    font-weight: bolder;
}

img{
    height: 40px;
    width: 40px;
}

.jumbotron, ::ng-deep  body {
    color: white;
    background-color: black;
}

li{
    cursor: pointer;
}*/