<!-- Grey with black text -->
<div [ngStyle]="navigationStyle">
    <nav class="navbar navbar-expand-sm">
        <ul class="navbar-nav">
            <li class="">
                <a span [ngStyle]="{color:colorStyle}" class="nav-link" href="">Active</a>
            </li>
            <li class="">
                <a span [ngStyle]="{color:colorStyle}" class="nav-link" href="">Link</a>
            </li>
            <li class="">
                <a span [ngStyle]="{color:colorStyle}" class="nav-link" href="">Link</a>
            </li>
            <li>
                <a span [ngStyle]="{color:colorStyle}" class="nav-link" href="">Time</a>
            </li>
        </ul>
    </nav>
</div>