<!-- Grey with black text -->
<div [ngStyle]="navigationStyle">
    <nav class="navbar navbar-expand-sm">
        <ul class="navbar-nav">
            <li>
                <a span [ngStyle]="{color:colorStyle}" class="nav-link" href=""></a>
            </li>
            <li>
                <a span [ngStyle]="{color:colorStyle}" class="nav-link" routerLink="userlogin/userslist">Users
                    Report</a>
            </li>
            <li>
                <a span [ngStyle]="{color:colorStyle}" class="nav-link" routerLink="userlogin/usersignup">New member?
                </a>
            </li>
            <li>
                <a span [ngStyle]="{color:colorStyle}" class="nav-link" routerLink="userlogin">Home</a>
            </li>
        </ul>
    </nav>
</div>
<br>
<router-outlet></router-outlet>