.formsignup {
    margin-top: 20px;
    margin-left: 220px;
    height: 50px;
    width: 700px;

}

button {
    height: 50px;
    width: 150px;
    border-radius: 10px;
}

.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid black;
  }
  
  .button1:hover {
    background-color: black;
    color: white;
    font-weight: bold;
  }

  h1 {
    text-align: center;
    background: black;
    color: white;
    font-weight: bold;
  }